.events-container {
  /* border: 4px olivedrab solid; */
  background-color: #FFFBFF;

  grid-column: 1/13;
  grid-row: 11/21;

  /* padding: 10px; */
  padding: 15px 145px;
  margin-left: 10px;
  

  display: grid;
  /* grid-template-columns: repeat(14, 1fr); */
  /* grid-template-rows: repeat(20, 1fr); */

  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(3, 1fr);
  gap: 3em;
}