@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');
* {
  font-family: 'Open Sans', sans-serif;
}

.footer-container {
  display: grid;
  height: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  
  /* color: rgb(46, 46, 46); */
  /* border-top: .5px solid rgb(46, 46, 46); */
  background-color: #0D3082;
}

.copyright {
  /* border: 3px solid red; */
  color: white;

  grid-column: 1/2;
  font-size: 11px;
  font-weight: lighter;
  letter-spacing: .1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote {
  /* border: 3px solid red; */
  color: white;

  grid-column: 3/8;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: .04em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.connect-links__container{
  /* border: 3px solid blue; */
  grid-column: 9/13;

  color: white;
  font-size: 12px;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.linked-in__container{
  /* border: 3px solid red; */
  grid-column: 1/2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linked-in__text{
  padding-right: 14px;
  letter-spacing: .05em;
  font-weight: lighter;
  font-size: 12px;

}

.linked-in{
  color: white;
  letter-spacing: .05em;
  font-size: 12px;

}

.linked-in:hover{
  font-size: 13px;
}

.git-hub__container{
  /* border: 3px solid red; */
  grid-column: 2/3;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.git-hub__text{
  padding-right: 14px;
  letter-spacing: .05em;
  font-weight: lighter;
  font-size: 12px;

}

.git-hub{
  color: white;
  letter-spacing: .05em;
  font-size: 12px;
}

.git-hub:hover{
  font-size: 13px;
}
  /* text-decoration: none; */
