@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');
* {
  font-family: 'Open Sans', sans-serif;
}

.category-bar__container{
  /* border: 4px blue solid; */
  margin: 5px;
  /* padding: 15px; */
  grid-column: 1/13;
  grid-row: 9/11;
  padding: 15px 145px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.category-bar__h1-header{
  /* border: 2px purple solid; */
  grid-column: 1/13;
  grid-row: 1/4;

  display: flex;
  align-items: center;

  color: rgb(48, 48, 48);
  font-size: 30px;
  font-weight: 900;
}

.category-bar {
  /* border: 2px orange solid; */
  grid-column: 1/13;
  grid-row: 4/7;

  display: flex;
  justify-items: center;
  
  padding: 10px;  
  /* margin: 5px; */
}

.category-bar__links{
  /* border: 1px blue solid; */
  padding: 5px 30px 5px 0px;

  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr); */
}
