.form-modal{
  margin: 0px 30px 80px 30px;
  padding: 0px 2px 30px 2px;
  transition: all .4s;
  height: 60vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

}

.login-btn{
  /* border: 1px solid red; */

  margin: 10px;
  border-radius: 5px;
  border-style: none;
  
  background-color: #F3712B;
  color: white;
  letter-spacing: .09em;
  font-size: 13px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__errors {
  color: red;
  /* text-decoration: none; */
  list-style-type: none;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 35px;
  text-decoration: none;
  font-weight: 900;
  font-size: large;
  color: black;
}
.modal__close:hover {
  color: #F3712B;
}

label {
  padding: 10px;
}

input{
  height: 20px;
}

input:focus {
  outline: 1.5px solid #F3712B;
}

.submit-btn{
  color: white;
  background-color: #E75A0D;
  padding: 8px 10px;
  margin: 15px;
  width: 200px;
  border-radius: 5px;
  font-size: medium;
  border-style: none;

}

.submit-btn:hover {
  background-color: #F3712B;
  /* color: black; */
  cursor: pointer;

}

.demo-btn {
  color: white;
  background-color: #E75A0D;
  font-size: small;
  border-radius: 5px;
  padding: 4px 15px;
  border-style: none;

}

.demo-btn:hover {
  background-color: #F3712B;
  cursor: pointer;

}

.other-btn {
  color: black;
  border: .5px solid black;
  background-color: #F7F3F3;
  font-size: small;
  border-radius: 5px;
  padding: 4px 15px;
  border-style: none;
}

.other-btn:hover{
  background-color: #dddcdb;
  cursor: pointer;
}

.other-div {
  padding-top: 30px;
}