@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.nav-bar__container{
  /* border: 3px solid black; */
  border-bottom: 1px solid rgb(228, 228, 228);
  height: 55px;
  
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
  /* overflow: hidden; */
  position: fixed;
  background-color: white;

}

.nav-bar__logo-link {
  /* border: 3px solid blue; */
  grid-column: 1/3;
  height: 50px;
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo__image{
  /* border: 3px solid red; */
  width: 120px;
  height: 28px;
  padding: 15px;
  margin-left: 15px;
  position: relative;
  float: left;
}

.nav-bar__search-icon {
  /* border: 3px solid red; */

  grid-column: 3/4;
  /* height: 20px; */
  /* width: 20px; */
  font-size: 25px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
  height: 30px;
  width: 30px;
}

.nav-bar__search-container{
  border: 3px solid red;
  grid-column: 4/9;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}



.session-links{
  /* border: 3px solid blue; */

  grid-column: 10/15;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: 50px;
}

.nav-fav__container{
  /* border: 3px solid blue; */
  grid-column: 1/2;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tic__container{
  /* border: 3px solid red; */
  grid-column: 2/3;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link-favorite{
  font-size: 15px;
  text-decoration: none;
}

.link-ticket{
  font-size: 15px;
  text-decoration: none;
}

.fav-img{
  height: 30px;
  width: 30px;
}

.tic-img{
  height: 30px;
  width: 30px;
}






.nav-prof__container{
  /* grid-column: 13/14; */
  grid-column: 3/6;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.user-email{
  /* border: 3px solid red; */
  grid-column: 1/3;
}

.email-text{
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 15px;
}

.profile-btn__container{
  grid-column: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-btn{
  border: .5px solid white;
  border-radius: 50px;
  /* position: absolute; */
  font-size: 25px;
  height: 30px;
  width: 30px;
  /* grid-column: 13/14; */
  /* height: 100px; */
  /* width: 100px; */
}

/* .nav-bar__icons{
  grid-column: 9/11;
  grid-row: 2/3;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
} */

/* .session-links{
  border: 3px solid red;
  grid-column: 11/13;
  grid-row: 2/3;
  font-size: 25px;
  display: flex;
  justify-content: center;
} */


/* .home-logo__image{
  max-width: 150px;
  max-height: 150px;
} */

/* .nav-bar__icons{
  border-radius: 10px;
  width: 50px;
  height: 40px;
} */



.profile-dropdown {
  /* position: absolute; */
  background-color: white;
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px rgb(190, 190, 190);
  z-index: 1;

}

.drop-item {
  /* opacity: 0; */
  transform-origin: top center;
}