.nav-bar{
  border: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.nav-bar__main {

}
.home-logo{
  max-width: 150px;
  max-height: 150px;
}
.nav-bar__icon{
  border-radius: 10px;
  width: 50px;
  height: 40px;
}
.profile-btn{
  border: 1px solid lightgrey;
  background-color: white;
  padding: 10px;
  position: absolute;
  right: 5em;
  top: 1em;
}
/* .profile-dropdown {
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(190, 190, 190);
} */
